{#
  Copyright DB InfraGO AG and contributors
  SPDX-License-Identifier: Apache-2.0
#}
{% from 'common_macros.html.j2' import show_other_attributes, render_reqs_by_type, requirement_state_chart %}
{% set types = model.search("RequirementType") | map(attribute="long_name") | unique | list %}

<h1>Module {{ object.name or object.long_name }}</h1>
<p>{{ object.text if object.text else object.long_name | safe }}</p>
<hr style="margin-top:1em" />

{% if object.requirements %}
  <h2>Requirement Status Overview</h2>
  {{ requirement_state_chart(object.requirements, "req-state-chart-" + object.uuid) | safe }}
{% endif %}

{% if object.requirements or object.folders %}
  <style>
    #hide-deprecated-reqs-{{ object.uuid }}:checked ~ #req-listing-{{ object.uuid }} .req-deprecated-row {
      display: none;
    }
  </style>
  <input
    type="checkbox"
    id="hide-deprecated-reqs-{{ object.uuid }}"
    style="cursor: pointer;"
  />
  <label for="hide-deprecated-reqs-{{ object.uuid }}" style="cursor: pointer;">
    Hide deprecated requirements
  </label>
{% endif %}

<div id="req-listing-{{ object.uuid }}">
  {% if object.requirements %}
    <h2>Root level objects</h2>
    {{ render_reqs_by_type(object.requirements, types) | safe }}
  {% endif %}

  {% if object.folders %}
    {% for folder in object.folders %}
      <h2>Folder {{ folder.long_name }}</h2>
      <p>{{ folder.requirements | length }} requirements in folder</p>
      {{ render_reqs_by_type(folder.requirements, types) | safe }}
    {% endfor %}
  {% endif %}
</div>
{%-
  set excluded = [
    "long_name",
    "owner",
    "parent",
    "requirements",
    "to_reqif",
    "progress_status",
  ]
-%}
{{ show_other_attributes(object, excluded=excluded, hide_unset_attrs=True, hide_rules_check=True) | safe }}
